<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>TDA101G2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/petbox</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>DBPhoneLookup</servlet-name>
    <servlet-class>com.test.DBPhoneLookup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPhoneLookup</servlet-name>
    <url-pattern>/DBPhoneLookup</url-pattern>
  </servlet-mapping>
  
<!-- 	<servlet> -->
<!-- 		<servlet-name>NpoInfoServlet</servlet-name> -->
<!-- 		<servlet-class>com.donation.npo_info.controller.NpoInfoServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>NpoInfoServlet</servlet-name> -->
<!-- 		<url-pattern>/Npo/npo.do</url-pattern>		 -->
<!-- 	</servlet-mapping> -->
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>DBGifReader2</servlet-name> -->
<!-- 		<servlet-class>com.donation.npo_info.controller.DBGifReader2</servlet-class> -->
<!-- 	</servlet> -->
	
	
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>DBGifReader2</servlet-name> -->
<!-- 		<url-pattern>/Npo/DBGifReader2</url-pattern>	 -->
<!-- 	</servlet-mapping> -->
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>AdoptInfoServlet</servlet-name> -->
<!-- 		<servlet-class>com.donation.adopt_info.controller.AdoptInfoServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>AdoptInfoServlet</servlet-name> -->
<!-- 		<url-pattern>/Adopt/adopt.do</url-pattern>		 -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>DBGifReader3</servlet-name> -->
<!-- 		<servlet-class>com.donation.adopt_info.controller.DBGifReader3</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>DBGifReader3</servlet-name> -->
<!-- 		<url-pattern>/Adopt/DBGifReader3</url-pattern>	 -->
<!-- 	</servlet-mapping> -->
		
<!-- 	<servlet> -->
<!-- 		<servlet-name>DonationResultServlet</servlet-name> -->
<!-- 		<servlet-class>com.donation.result.controller.DonationResultServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>DonationResultServlet</servlet-name> -->
<!-- 		<url-pattern>/Result/result.do</url-pattern>		 -->
<!-- 	</servlet-mapping> -->
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>DBGifReader4</servlet-name> -->
<!-- 		<servlet-class>com.donation.result.controller.DBGifReader4</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>DBGifReader4</servlet-name> -->
<!-- 		<url-pattern>/Result/DBGifReader4</url-pattern>	 -->
<!-- 	</servlet-mapping> -->
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>AdoptFormServlet</servlet-name> -->
<!-- 		<servlet-class>com.donation.adopt_form.controller.AdoptFormServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>AdoptFormServlet</servlet-name> -->
<!-- 		<url-pattern>/AdoptForm/adoptform.do</url-pattern>		 -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>DonationFormServlet</servlet-name> -->
<!-- 		<servlet-class>com.donation.donation_form.controller.DonationFormServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>DonationFormServlet</servlet-name> -->
<!-- 		<url-pattern>/DonationForm/donationform.do</url-pattern>		 -->
<!-- 	</servlet-mapping> -->
</web-app>