<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>TDA101G2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/petbox</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>DBPhoneLookup</servlet-name>
    <servlet-class>com.test.DBPhoneLookup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPhoneLookup</servlet-name>
    <url-pattern>/DBPhoneLookup</url-pattern>
  </servlet-mapping>
  
<!--   	<servlet> -->
<!-- 		<servlet-name>StoreServlet</servlet-name> -->
<!-- 		<servlet-class>com.store.controller.StoreServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>StoreServlet</servlet-name> -->
<!-- 		<url-pattern>/store/store.do</url-pattern> -->
<!-- 	</servlet-mapping> -->
</web-app>